# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#NetBeans
nbactions.xml

# Eclipse
.metadata/
.settings/
.recommenders/
.classpath
.project

# Maven
target/

# Pogamut platform
Addons/UT2004/Map/UT2004LevelGeom/output/**
Addons/UT2004/Map/UT2004NavMeshTools/05-NavMeshMaker/output/**
Addons/UT2004/Tournament/UT2004Tournament/results/**